# macOS
.DS_Store

# Build artifacts
bin/
obj/

# NuGet packages
*.nupkg
*.pdb
*.dll
*.exe

# User-specific files
*.userprefs
*.suo
*.user

# Build results
[Dd]ebug/
[Rr]elease/

# Visual Studio Code
.vscode/

# .NET Core
project.lock.json
project.assets.json
*.csproj.user

/notes.txt
